<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" >
    <mat-form-field>
      <input type="text"
      matInput
      name="title"
      id="title" placeholder="Title"
      required
      minlength="3"
      #title="ngModel"
      ngModel>
      <mat-error *ngIf="title.invalid">Please enter a valid post title</mat-error>

      <!--mat-error *ngIf="postForm.getControl('title').invalid">Please enter a post title</mat-error-->
      <!-- [formControl]="title" -->
      <!-- failed in angular CLI 17-->

     <!-- @if (title.invalid) {
        <mat-error>{{getErrorMessage()}}</mat-error>
      }-->
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      name="content"
      id="text2" cols="10" rows="3"
      placeholder="Post"
      #content ="ngModel"
      ngModel></textarea>
    </mat-form-field>
    <button mat-raised-button
    color="accent"
    type="submit">Save Post
    </button>
</form>
</mat-card>

<p>post-create works!</p>
<textarea name="commend" id="text1" cols="10" rows="1" [value]="newPost" #PostInput></textarea>
<hr>
  <p>{{newPost}}</p>
